@font-face {
	font-family: Roboto;
	src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap')
}

@font-face {
	font-family: Monteserrat;	
	src: url('../fonts/Montserrat-Black.otf')
}

@font-face {
	font-family: AvenirBook;
	src: url('../fonts/AvenirLTStd-Book.otf')
}

@font-face {
	font-family: Avenir;
	src: url('../fonts/AvenirLTStd-Black.otf')
}

html, body {
    min-height: 100% !important;
    height: 100%;	
}

.album {	
	border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 40px 30px 80px rgb(54 48 116 / 30%);
    border-radius: 60px;    
    padding: 3%;
    z-index: 10;
	transform: translate(20px, 0px) scale(1.0);
}

.card-wrap{
	height: 100%;
}

.album-player {			
	margin-left: -10%;
	padding: 2%;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 60px 100px rgba(65, 44, 100, 0.3);
	border-radius: 60px;
	transform: translate(-20px, 0px) scale(0.9);
	z-index: 9;
}

.ahover .album {
	animation: glide 1s forwards;
}

.ahover .album-player {
	animation: glide1 1s forwards;
}

.bhover .album {
	animation: glide2 1s forwards;
}

.bhover .album-player {
	animation: glide3 1s forwards;
}

@keyframes glide {
	0% {
		transform: translate(1rem, 0px) scale(0.9);
		background: #F8F8F8;
		z-index: 9;
	}
	50% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(1rem, .5rem) scale(1.0);
		background: #F8F8F8;
		z-index: 10;
	}
}

@keyframes glide1 {
	0% {
		transform: translate(-1rem, 0px) scale(1.0);
	}
	50% {
		transform: translate(1rem, 0px);
	}
	100% {
		transform: translate(-1rem, .5rem) scale(0.9);
		background: #F7F7F7;
		z-index: 9;
	}
}

@keyframes glide2 {
	0% {
		transform: translate(1rem, 0px) scale(1.0);
	}
	50% {
		transform: translate(-1rem, 0px);
	}
	100% {
		transform: translate(1rem, .5rem) scale(0.9);
		background: #F7F7F7;
		z-index: 9;
	}
}

@keyframes glide3 {
	50% {
		transform: translate(1rem, 0px);
	}
	100% {
		transform: translate(-1rem, .5rem) scale(1.0);
		background: #F8F8F8;
		z-index: 10;
	}
}

.album-pic {
	border-radius: 30px;	
	margin: auto;
	background-color: #F8F8F8 !important;
	border-radius: 2.25rem !important;
	width: 90%;
	padding: 0.5rem !important;
}
.img-thumbnail{
	padding: 0.75rem !important;
}
.rounded-border{
	border-radius: 2.25rem !important;
}

.album-detail-container {	
	padding: 2% 2% 0 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.col-flex {
	flex-direction: column;
	display: flex;
}

.ellipsis-container {
	margin: .8rem;
    margin-left: .5rem;
    width: 3.1rem;
    height: 3.1rem;
	background-size: 50% 50%;
	border-radius: 30px;
	background-repeat: no-repeat;
	background: #F8F8F8;
	transition: .3s;
	cursor: pointer;
	transition-property: transform;
	box-shadow: -10px -10px 15px #ffffff, 10px 10px 10px rgb(0 0 0 / 5%), inset 1px 0px 5px rgb(0 0 0 / 5%), inset -5px -5px 5px #ffffff;
}

.ellipsis-container:hover {
	transform: scale(1.2);
}

.like-purp {
	background-image: url(../images/like_purp.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50% 50%;
}

.like-grey {
	background-image: url(../images/like_grey.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50% 50%;
}

.share-grey {
	background-image: url(../images/share_grey.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50% 50%;
}

.add-grey {
	background-image: url(../images/add_grey.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50% 50%;
}

.playing-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 1.15rem;
	line-height: 21px;
	color: #AEAEAE;
}

.flex-container {
	flex-flow: row nowrap;
	display: flex;	
}

.player-container {
	width: 500px;
	height: 150px;
	background: #F7F7F7;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 60px 100px rgba(65, 44, 100, 0.3);
	border-radius: 60px;
}

.song-detail {
	line-height: 1.4rem;
}

.song-title {
	font-size: 1.5rem;
    font-weight: 800;
    font-family: Avenir;
    color: #86748D;
    line-height: 3.2rem;
}

.artist-name {
	font-size: 1.1rem;
	font-family: AvenirBook;
	font-style: normal;
	font-weight: bold;
	color: #AEAEAE;
	line-height: 2rem;
}

.artist2-name {
	font-size: 1rem;
	font-family: AvenirBook;
	font-style: normal;
	color: #AEAEAE;
	line-height: 1.8rem;
}

.album-player-container{
	justify-content: space-evenly;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
	align-items: center;	
}

.play-left-container{
	justify-self: flex-start;
	margin:0px 1rem;		

}

.play-middle-container{
	justify-self: center;	
	align-items: center;
	justify-content: space-around;
}

.play-end-container{
	justify-self: flex-end;
	margin-left: 1rem;
}

.player-options{
	padding: 0px;    
    margin: 0px 1rem;
    width: 1.5rem;;
	cursor: pointer;
}

.player-next-container{
	width: 40px;
	height: 40px;
}

.player-prev{
	background-image: url(../images/play-prev.svg),linear-gradient(#917CE4 0%, #5D24D6 100%);
    background-repeat: no-repeat no-repeat;
    background-position: center center;    
    background-size: 50% 50%,100%;
	width: 1.8rem;
	height:1.8rem;
	display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: inset 10px 10px 15px rgb(255 255 255 ,0.2);
}

.player-next{
	background-image: url(../images/play-next.svg),linear-gradient(#917CE4 0%, #5D24D6 100%);
    background-repeat: no-repeat no-repeat;
    background-position: center center;    
    background-size: 50% 50%,100%;
	width: 1.8rem;
	height:1.8rem;
	display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: inset 10px 10px 15px rgb(255 255 255 ,0.2);
}

.player-play{	
	background-image: url(../images/pause.svg),linear-gradient(#917CE4 0%, #5D24D6 100%);    
    background-repeat: no-repeat no-repeat;
    background-position: center center;    
    background-size: 50% 50%,100%;
}

.btnc{
    display: inline-block;     
    width: 3rem;
    height: 3rem;    
    border-radius: 50%;
    vertical-align: middle;      
    box-shadow: inset 10px 10px 15px rgba(255, 255, 255, 0.2);        
}

.player-next:hover,.btnc:hover,.player-prev:hover{
    transform: scale(1.1);          
}

.test{
    background: #F8F8F8;
    box-shadow: -10px -10px 15px #ffffff, 10px 10px 10px rgb(0 0 0 / 5%), inset 10px 10px 10px rgb(0 0 0 / 5%), inset -10px -10px 20px #ffffff;
    border-radius: 50px;    
    padding: .5rem;
	margin:.75rem;
}

.player-pause{	
	background-image: url(../images/play.svg),linear-gradient(#917CE4 0%, #5D24D6 100%);    
    background-repeat: no-repeat no-repeat;
    background-position: center center;    
    background-size: 50% 50%,100%;
}

.play-button{
    height: 45px
}

.audio-container{
	width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
}

.disabled-prev{
	background-image: url(../images/play-prev.svg),linear-gradient(gray 0%, darkgray 100%) !important;
	pointer-events: none !important;
}

.disabled-next{
	background-image: url(../images/play-next.svg),linear-gradient(gray 0%, darkgray 100%) !important;
	pointer-events: none !important;
}

.btn-light:focus{
	outline: none;
}

@media (max-width: 760px){
	.ellipsis-container{
		width: 2.1rem;
		height: 2.1rem;
	}
	.album{
		width: 90%;
	}
	.album-player{
		margin-left: 7%;
		margin-top: -70%;
	}
	.play-end-container{
		margin-left: 0px;
	}
	.song-title{
		font-size: 1.1rem;
	}
	.artist-name{
		font-size: .9rem;
	}
	.artist2-name{
		font-size: .8rem;
	}
	.playing-text{
		font-size: .9rem;
	}
}
@media (max-width: 415px){
	.ellipsis-container{
		width: 1.5rem;
		height: 1.5rem;
	}
	.album-player{		
		margin-top: -100%;
	}
}
